.container .boosts {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2em 2em;
  padding-top: 3em;
}
.container .boosts .txHeader {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
.container .boosts .txHeader h1 {
  font-size: 4em;
  color: var(--primary);
}
.container .boosts .txHeader .stage {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  overflow: hidden;
  color: var(--primary);
}
.container .boosts .txHeader .stage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  overflow: hidden;
  color: var(--text);
}
.container .boosts .txHeader .stage img {
  object-fit: contain;
  height: 2em;
}
.container .boosts .txHeader .stage h2 {
  font-size: 1.2em;
}
.container .boosts .txHeader .stage .icon {
  font-size: 1.2em;
}

/* MAIN */
.container .boosts main {
  width: 100%;
  height: auto;
  margin-top: 2em;
}
.container .boosts main h1 {
  font-size: 2.5em;
  color: var(--primary);
  text-align: center;
}
.container .boosts main .tank {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 1em auto;
  margin-top: 2em;
  padding: 1em 2em;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container .boosts main .tank img {
    object-fit: contain;
    height: 4em;
  }

  .container .boosts main .tank ul li {
    font-size: 1.6em;
    margin: 0.2em 0em;
  }
  .container .boosts main .tank ul li span {
    font-size: 0.7em;
    color: var(--header);
  }
  .container .boosts main .tank ul li:first-child {
    font-weight: 600;
    color: var(--primary);
  }

.container .boosts main .rows {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}
.container .boosts main .rows .box {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0em 2em;
  gap: 2em;
  border-radius: 10px;
  color: var(--text);
  position: relative;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container .boosts main .rows .box img {
  object-fit: contain;
  height: 3em;
}
.container .boosts main .rows .box ul li {
  font-size: 1.8em;
  margin: 0.2em 0em;
}
.container .boosts main .rows .box ul li span {
  font-size: 0.7em;
  color: var(--header);
}
.container .boosts main .rows .box ul li:first-child {
  font-weight: 600;
  color: var(--primary);
}
.container .boosts main .rows .box .arrw {
  font-size: 2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
}

.container .boosts .popUp {
  position: fixed;
  width: 70%;
  min-height: 200px;
  background: var(--bg);
  top: 55%;
  left: 50%;
  text-align: center;
  padding: 2em 2em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(-50%, -50%);
}
.container .boosts .popUp .box {
  position: relative;
}
.container .boosts .popUp img {
  object-fit: contain;
  height: 6em;
  margin-bottom: 0.5em;
}
.container .boosts .popUp ul li {
  font-size: 1.8em;
}
.container .boosts .popUp ul li:first-child {
  font-weight: 600;
  color: var(--primary);
}
.container .boosts .popUp ul li span {
    font-size: 0.7em;
    color: var(--header);
  }

.container .boosts .popUp .btn {
  display: inline-block;
  font-size: 1.4em;
  padding: 0.7em 2em;
  font-weight: 600;
  color: var(--bg);
  background: var(--primary);
  border-radius: 10px;
  margin-top: 1em;
  cursor: pointer;
}
.container .boosts .popUp .box .cancel {
  position: absolute;
  right: 0%;
  top: -5%;
  font-size: 3em;
  color: var(--primary);
  cursor: pointer;
}


/* SMALLER DEVICE */
@media (max-width: 320px) {
  .container .boosts {
    font-size: 0.7em;
  }
  .container .boosts main h1 {
    font-size: 2em;
  }


.container .boosts main .rows {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}
.container .boosts main .rows .box {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0em 2em;
  gap: 2em;
  border-radius: 10px;
  color: var(--text);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container .boosts main .rows .box img {
  height: 3em;
}
.container .boosts main .rows .box ul li {
  font-size: 1.4em;
}
  .container .boosts .popUp {
    width: 80%;
    min-height: 100px;
  }
}